{% extends 'base_generic.html' %}

{% block title %}My Entertainment Bookings{% endblock %}

{% block content %}
<h1>My Entertainment Bookings</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Entertainment Service</th>
      <th scope="col">Booking Date</th>
      <th scope="col">Duration (hours)</th>
      <th scope="col">Contact Information</th>
      <th scope="col">Total Price</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for booking in user_ent_bookings %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ booking.entertainment }}</td>
      <td>{{ booking.booking_date }}</td>
      <td>{{ booking.duration_hours }}</td>
      <td>{{ booking.contact_info }}</td>
      <td>${{ booking.total_price }}</td>  <!-- Display total price -->
      <td>{{ booking.get_status_display }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7">No entertainment bookings found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
