<!-- user_bookings.html -->
{% extends 'base_generic.html' %}

{% block title %}My Bookings{% endblock %}

{% block content %}
<div class="container">
  <h1>My Bookings</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Booking Date</th>
        <th scope="col">Number of Cars</th>
        <th scope="col">Total Price</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in user_bookings %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ booking.booking_date }}</td>
        <td>{{ booking.num_cars }}</td>
        <td>{{ booking.total_price }}</td>
        <td>{{ booking.status }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No bookings found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
